In [2]:
import pandas as pd

df = pd.read_csv("iris.csv")

df.head()

#!pip install pandas

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
import numpy as np
np.unique(df['variety'])

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [4]:
df['class'] = df['variety'].replace({"Setosa": 0, "Versicolor": 1, "Virginica": 2})

In [5]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety  class
0           5.1          3.5           1.4          0.2  Setosa      0
1           4.9          3.0           1.4          0.2  Setosa      0
2           4.7          3.2           1.3          0.2  Setosa      0
3           4.6          3.1           1.5          0.2  Setosa      0
4           5.0          3.6           1.4          0.2  Setosa      0

In [26]:
df = df.dropna()

In [27]:
df = df.fillna()

In [28]:
df = df.drop_duplicates()

In [29]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width       class
count    149.000000   149.000000    149.000000   149.000000  149.000000
mean       5.843624     3.059732      3.748993     1.194631    0.993289
std        0.830851     0.436342      1.767791     0.762622    0.817847
min        4.300000     2.000000      1.000000     0.100000    0.000000
25%        5.100000     2.800000      1.600000     0.300000    0.000000
50%        5.800000     3.000000      4.300000     1.300000    1.000000
75%        6.400000     3.300000      5.100000     1.800000    2.000000
max        7.900000     4.400000      6.900000     2.500000    2.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149 entries, 0 to 149
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  149 non-null    float64
 1   sepal.width   149 non-null    float64
 2   petal.length  149 non-null    float64
 3   petal.width   149 non-null    float64
 4   variety       149 non-null    object
 5   class         149 non-null    int64
dtypes: float64(4), int64(1), object(1)
memory usage: 8.1+ KB

In [33]:
df['x'] = df[df.columns[:4]].values.tolist()
df['x']

0      [5.1, 3.5, 1.4, 0.2]
1      [4.9, 3.0, 1.4, 0.2]
2      [4.7, 3.2, 1.3, 0.2]
3      [4.6, 3.1, 1.5, 0.2]
4      [5.0, 3.6, 1.4, 0.2]
               ...
145    [6.7, 3.0, 5.2, 2.3]
146    [6.3, 2.5, 5.0, 1.9]
147    [6.5, 3.0, 5.2, 2.0]
148    [6.2, 3.4, 5.4, 2.3]
149    [5.9, 3.0, 5.1, 1.8]
Name: x, Length: 149, dtype: object

In [34]:
df['y'] = df['class'].apply(lambda x: x+1)
df['y']

0      1
1      1
2      1
3      1
4      1
      ..
145    3
146    3
147    3
148    3
149    3
Name: y, Length: 149, dtype: int64

In [35]:
df.describe()

,sepal.length,sepal.width,petal.length,petal.width,class,y
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,5.843624,3.059732,3.748993,1.194631,0.993289,1.993289
std,0.830851,0.436342,1.767791,0.762622,0.817847,0.817847
min,4.300000,2.000000,1.000000,0.100000,0.000000,1.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000,1.000000
50%,5.800000,3.000000,4.300000,1.300000,1.000000,2.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000,3.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000,3.000000

In [36]:
df.to_csv("iris_ok.csv", index=False)

AI
===

In [3]:
import pandas as pd
df = pd.read_csv("iris_ok.csv")
df.head()

,sepal.length,sepal.width,petal.length,petal.width,variety,class,x,y
0,5.1,3.5,1.4,0.2,Setosa,0,"[5.1, 3.5, 1.4, 0.2]",1
1,4.9,3.0,1.4,0.2,Setosa,0,"[4.9, 3.0, 1.4, 0.2]",1
2,4.7,3.2,1.3,0.2,Setosa,0,"[4.7, 3.2, 1.3, 0.2]",1
3,4.6,3.1,1.5,0.2,Setosa,0,"[4.6, 3.1, 1.5, 0.2]",1
4,5.0,3.6,1.4,0.2,Setosa,0,"[5.0, 3.6, 1.4, 0.2]",1

In [4]:
from sklearn.neighbors import KNeighborsClassifier
import numpy as np

neigh = KNeighborsClassifier(n_neighbors=len(np.unique(df['y'])))

In [5]:
neigh.fit(df[df.columns[:4]].values.tolist(), df['y'])

KNeighborsClassifier(n_neighbors=3)

In [6]:
neigh.predict([[5.2,3.6,1.39,0.2]])

array([1], dtype=int64)

In [7]:
from pyod.models.knn import KNN
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split( df[df.columns[:4]].values.tolist(), 
                                                    df['y'], test_size=0.25, random_state=42, shuffle=True)

In [19]:
clf = KNN()
clf.fit(X_train, y_train)

C:\Users\z004dmfe\AppData\Roaming\Python\Python311\site-packages\pyod\models\base.py:430: UserWarning: y should not be presented in unsupervised learning.
  warnings.warn(

KNN(algorithm='auto', contamination=0.1, leaf_size=30, method='largest',
  metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2,
  radius=1.0)

In [20]:
y_train_pred = clf.labels_  # binary labels (0: inliers, 1: outliers)
clf.labels_

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0])

In [21]:
y_train_scores = clf.decision_scores_  # raw outlier scores
clf.decision_scores_  # raw outlier scores

array([0.2236068 , 0.45825757, 0.37416574, 0.57445626, 0.37416574,
       0.41231056, 0.36055513, 0.50990195, 0.46904158, 0.41231056,
       0.43588989, 0.66332496, 0.36055513, 0.46904158, 0.4472136 ,
       0.17320508, 0.60827625, 0.38729833, 0.2236068 , 0.24494897,
       0.5       , 0.72111026, 0.96953597, 0.53851648, 0.42426407,
       0.43588989, 0.72111026, 0.17320508, 0.31622777, 0.45825757,
       0.33166248, 0.3       , 0.43588989, 0.51961524, 0.81853528,
       0.50990195, 0.59160798, 0.51961524, 0.678233  , 0.45825757,
       0.4       , 0.6244998 , 0.50990195, 0.2236068 , 0.33166248,
       0.42426407, 0.52915026, 0.3       , 0.60827625, 0.2236068 ,
       0.42426407, 0.52915026, 0.42426407, 0.46904158, 0.46904158,
       0.7       , 0.37416574, 0.43588989, 0.51961524, 1.2489996 ,
       0.43588989, 0.3       , 0.17320508, 0.36055513, 0.4472136 ,
       0.74161985, 0.42426407, 0.43588989, 0.64807407, 0.3       ,
       0.43588989, 0.43588989, 0.64807407, 0.55677644, 0.75498344,
       0.34641016, 0.54772256, 0.38729833, 0.41231056, 0.6244998 ,
       0.54772256, 0.45825757, 0.83666003, 0.5       , 0.47958315,
       0.31622777, 0.37416574, 0.60827625, 0.4       , 0.3       ,
       0.78740079, 0.5       , 0.70710678, 0.3       , 0.46904158,
       0.31622777, 0.58309519, 0.53851648, 0.5       , 0.26457513,
       0.42426407, 0.6164414 , 0.43588989, 0.54772256, 0.46904158,
       0.43588989, 0.43588989, 0.88317609, 0.678233  , 0.37416574,
       0.5       ])

In [22]:
# get the prediction on the test data
y_test_pred = clf.predict(X_test)  # outlier labels (0 or 1)
y_test_scores = clf.decision_function(X_test)  # outlier scores

In [23]:
y_test_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [24]:
y_test_scores

array([0.50990195, 0.51961524, 1.22065556, 0.41231056, 0.42426407,
       0.36055513, 0.54772256, 0.36055513, 0.71414284, 0.37416574,
       0.80622577, 0.3       , 0.42426407, 0.31622777, 0.31622777,
       0.47958315, 0.51961524, 0.31622777, 0.37416574, 1.161895  ,
       0.31622777, 0.41231056, 0.26457513, 0.42426407, 0.38729833,
       0.37416574, 0.48989795, 0.47958315, 0.3       , 0.3       ,
       0.56568542, 0.65574385, 0.42426407, 0.31622777, 0.31622777,
       0.60827625, 0.42426407, 0.2236068 ])